<div class="container">
  <div class="row">
    <div class="col">
      <h1>Editing Book</h1>
      <% render "template/error_mess", record: @book%>
        </ul>
        <% end %>
      <%= form_with model: @book do |f| %>
        <h4>Image</h4>
        <%= f.file_field :image, placeholder: "Book_image", accept: "image/*" %>
      
        <h4>Title</h4>
        <%= f.text_field :title ,class:"form-control input-lg"%>
        
        <h4>Opinion</h4>
        <%= f.text_area :body ,class:"form-control input-lg"%>
        <div>
        <%= f.submit 'Update Book' ,class:"btn btn-success m-1"%>
        </div>
        
      <% end %>
      
      <%= link_to "Show", book_path(@book.id) %>
      |
      <%= link_to "Back", books_path %>
      
    </div>
    
  </div>
  
</div>




